# Environment variables / secrets
.env
*.env
!.env.example

# Python virtual environment inside sinema
sinema/venv/

# Flask session files
sinema/flask_session/

# Python cache files
__pycache__/
*.py[cod]

# Optional: IDE/editor files
.vscode/
*.idea/

# Database / local instance files
sinema/var/
